#
# Copyright (c) 2022 Thys de Wet
# SPDX-License-Identifier: MIT
#

config BOARD_CHOCKEA_LEFT
	bool "chockea_left"
	depends on SOC_NRF52840_QIAA

config BOARD_CHOCKEA_RIGHT
	bool "chockea_right"
	depends on SOC_NRF52840_QIAA
